

    <script type="text/template" id="template_app">
        <div id="container">
            <header>
                <h1><a href="index.html"><img class="logo" src="images/tflogo.png"></a></h1>
                <section class="signin">
                    <form method="POST" action="#">
                        <input type="submit" name="logout" id="logout" value="Log Out"/></p>
                    </form>
                </section>
            </header>
            <div id="wrapper">
                <div>
                    <h4 class="proheader">Your Projects</h4>
                    <h5><input type="submit" name="new_project" id="newpro" value="New Project"/></h5>
                </div>
                <div id="table">
                    <table>
                        
                        <tr class="oddrow">
                            <td><img src="images/complete.png"></td>
                            <td>Project Name</td>
                            <td>Description of Project</td>
                            <td>Due By</td>
                            <td>mm/dd/yy</td>
                        </tr>
                        <tr class="evenrow">
                            <td><img src="images/urgent.png"></td>
                            <td>Project Name</td>
                            <td>Description of Project</td>
                            <td>Due By</td>
                            <td>mm/dd/yy</td>
                        </tr>
                        <tr class="oddrow">
                            <td><img src="images/active.png"></td>
                            <td>Project Name</td>
                            <td>Description of Project</td>
                            <td>Due By</td>
                            <td>mm/dd/yy</td>
                        </tr>
                        <tr class="evenrow"> 
                            <td><img src="images/delayed.png"></td>
                            <td>Project Name</td>
                            <td>Description of Project</td>
                            <td>Due By</td>
                            <td>mm/dd/yy</td>
                        </tr>
                    </table>
                </div><!--div id="table"--> 

            </div>
            <footer>
                <div class="fleft">
                
                </div>
            </footer>
            
            
        </div>
    
    </script>
